pip              == 20.1.1
setuptools       == 65.5.1
gunicorn         == 20.0.4
pytz			 == 2020.1
Flask            == 1.1.2
line-bot-sdk     == 1.16.0
PyMySQL		     == 0.9.3
numpy            == 1.19.0
efficientnet     == 1.1.0
tensorflow       == 2.2.0